<div class="container my-5">
    <h1 class="mb-3">Contacts</h1>
    <table datatable class="table" *ngIf="contacts && contacts.length > 0">
        <thead>
            <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Email</th>
                <th>Phone Number</th>
                <th>Address</th>
                <th>City</th>
                <th>State</th>
                <th>Country</th>
                <th>Postal Code</th>
                <th> </th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let contact of contacts">
                <td>{{contact.firstName}}</td>
                <td>{{contact.lastName}}</td>
                <td>{{contact.email}}</td>
                <td>{{contact.phoneNumber}}</td>
                <td>{{contact.address}}</td>
                <td>{{contact.city}}</td>
                <td>{{contact.state}}</td>
                <td>{{contact.country}}</td>
                <td>{{contact.postalCode}}</td>
                <td><a class="btn btn-primary btn-sm" [routerLink]="['/contacts','edit',contact.id]"><i class="fas fa-eye"></i></a></td>
            </tr>
        </tbody>
    </table>
    <p *ngIf="!contacts || contacts.length <=0">No Contacts Found</p>
</div>